a {
    color: inherit;
}

a:link, a:visited {
    text-decoration: none;
}

.CodeMirror {
    border: 1px solid black;
}

#mudslinger {
    width:95vw;
    height:92vh;
}

#mainWin {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    height:100%;
    width:100%;
}

#cmdCont {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

#winOutput {
    height:calc(100% - 21px);
    margin:0;
    padding:0;
}

.outputText {
    font-size: small;
    background-color:black;
    font-family:"Courier", monospace;
    color:rgb(0,187,0); /* low green */
    white-space: pre-wrap;
    overflow-y:scroll;
    overflow-x:scroll;
    width:100%;
}

#cmdInput, #cmdInputPw {
    margin: 0;
    padding: 0;
    flex: 1;
}

#cmdInput {
    resize: none;
    font-family:"Courier", monospace;
    font-size: small;
    display: inline;
}

#cmdInputPw {
    height: 20px;
}

.chkCmdInputCmdStackCont .toolTipText {
    display: none;
    font-family:"Courier", monospace;
    font-size: small;
}

.chkCmdInputCmdStackCont:hover .toolTipText {
    display: inline;
}

.winEdit-pattern {
    width: 100%;
}

.winEdit-listBox {
    width: 100%;
    height: 100%;
}
